[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lyrics-extractor = "*"
pafy = "*"
beautifulsoup4 = "*"
slack-sdk = "*"
flask = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.9"
